dominos {
  stroke:black;
}
text {
  font: 10px Helvetica;
}
#main {
    border: 1px #EEEEFF solid; /* prevent margin collapsing */
}
.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
circle {
    /*fill : none;  CSS selectors have precedence over SVG styling*/
    stroke: #555555;
    stroke-width: 2px;
}
.barsContainer {
    fill: #ddddee;

}
.bars {
    fill: #333322;
    shape-rendering: crispEdges;
}
