dominos {
  stroke:black;
}
.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
circle {
    fill : none;
    stroke: #555555;
    stroke-width: 2px;
}
