.header, .footer {
    background-color: black;
    color: white;
}


#main {
    background-color: #EEEEFF;
    position: relative;
    left: 200px;
    top: 10px;
}


ul#navlist
{
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
    font-family: Helvetica;
}
#chartTopBar {
    margin: 10 10 10 10;
    border-bottom: 1px solid;
}

#navlist li
{
    display: inline;
    list-style-type: none;
}

#navlist a { padding: 3px 50px; }

#navlist a:link, #navlist a:visited
{
    color: #fff;
    background-color: #036;
    text-decoration: none;
}

#navlist li:not(:first-child) a:hover
{
    color: #fff;
    background-color: #369;
    text-decoration: none;
}
.active {
    color : #222;
}

.inactive {
    color : #dda;
}
