<html>
<head>
    <title>grunt-html-build - Test Page</title>
    <!-- build:style bundle -->
    <!-- /build -->
    <!-- build:script libs  -->
    <!-- /build -->
      <script type="text/javascript" src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <!-- build:script bundle -->
    <!-- /build -->

</head>
<body id="landing-page">
  <h1>HEADER</h1>
  TBD
  <h1>MAIN TEST</h1>
  TBD
  <h1>FOOTER</h1>
  TB

  <!-- build:process -->
  <script type="text/javascript">
      var DP = {};
      DP.version = "<%= version %>";
      DP.title = "<%= title %>";
  </script>
  <!-- /build -->
</body>
</html>
